<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    {% load static %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">

    <!-- jQuery library -->
    <script src="{% static 'libs/jquery-3.2.1.min.js' %}"></script>

    <!-- Latest compiled JavaScript -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
</head>
<body>
    {% if messages %}
	    {% for message in messages %}
		    <div class="panel panel-success">
			    <div class="panel-body">{{message}}</div>
		    </div>
	    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>